### **`Problem-1:`** Write a Python function that takes a list and returns a new list with unique elements of the first list.

**Exercise 1:**

Input:

```bash
[1,2,3,3,3,3,4,5]
```

Output:

```bash
[1, 2, 3, 4, 5]
```

In [ ]:
def unique(l):
  new = []
  for i in l:
    if i not in new:
      new.append(i)
  return new

l = [1,2,3,3,3,3,4,5]
unique(l)

[1, 2, 3, 4, 5]

### **`Problem-2:`** Write a Python function that accepts a hyphen-separated sequence of words as parameter and returns the words in a hyphen-separated sequence after sorting them alphabetically.

**Example 1:**

Input:
```bash
green-red-yellow-black-white
```

Output:
```bash
black-green-red-white-yellow
```

In [ ]:
# Write code here
def rearrange(st):
  sp = sorted(st.split('-'))
  return '-'.join(sp)

st = 'green-red-yellow-black-white'
rearrange(st)

'black-green-red-white-yellow'

### **`Problem 3:`** Write a Python function that accepts a string and calculate the number of upper case letters and lower case letters.

```
Sample String : 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
Expected Output :
No. of Upper case characters :  9
No. of Lower case Characters :  47
```

In [ ]:
# Write code here
def count(st):
  upper = 0
  lower = 0
  for i in st:
    if i.isupper():
      upper += 1
    elif i.islower():
      lower += 1
    else:
      continue

  return upper,lower

st = 'CampusX is an Online Mentorship Program fOr EnginEering studentS.'
upper,lower = count(st)

print('No. of Upper case characters:',upper)
print('No. of Lower case characters:',lower)

No. of Upper case characters: 9
No. of Lower case characters: 47

### **`Problem 4:`** Write a Python program to print the even numbers from a given list.
```
Sample List : [1, 2, 3, 4, 5, 6, 7, 8, 9]
Expected Result : [2, 4, 6, 8]
```

In [ ]:
# Write code here
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]

list(filter(lambda x: x%2 == 0,l))

# Second Method
def is_even(l):
  new_l = []
  for i in l:
    if i%2 == 0:
      new_l.append(i)

  return new_l

l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
print(is_even(l))

[2, 4, 6, 8]

### **`Problem 5:`** Write a Python function to check whether a number is perfect or not.

A Perfect number is a number that is half the sum of all of its positive divisors (including itself).

Example :

```
The first perfect number is 6, because 1, 2, and 3 are its proper positive divisors, and 1 + 2 + 3 = 6.
Equivalently, the number 6 is equal to half the sum of all its positive divisors: ( 1 + 2 + 3 + 6 ) / 2 = 6.

The next perfect number is 28 = 1 + 2 + 4 + 7 + 14. This is followed by the perfect numbers 496 and 8128.
```

In [5]:
# Write code here
def perfect_no(num):

  result = 0

  for i in range(1,(num//2)+1):
    if num%i == 0:
      result += i

  if result == num:
    print('perfect number')
  else:
    print('not perfect number')

perfect_no(28)

perfect number

### **`Problem-6:`** Write a Python function to concatenate any no of dictionaries to create a new one.

```
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}
```

In [ ]:
# Write code here
def concat(*args):
  result = {}
  for i in args:
    result.update(i)

  return result

dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

concat(dic1,dic2,dic3)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

`Problem-7` Write a python function that accepts a string as input and returns the word with most occurence.

```
Input:
hello how are you i am fine thank you
```

```
Output
you -> 2
```

In [6]:
# Write code here
def count_element(st,word):
  return st.count(word)

st = 'hello how are you i am fine thank you'
word = 'you'

print('{} -> {}'.format(word,count_element(st,word)))

# Second Method
def most_used(s):

  d = {}

  for i in s.split():
    if i in d:
      d[i] = d[i] + 1
    else:
      d[i] = 1

  max_value = max(d.values())

  for i in d:
    if d[i] == max_value:
      print(i,'->',d[i])
      break

most_used('hello hello hello you i am fine thank you')

you -> 2
hello -> 3

`Problem-8` Write a python function that receives a list of integers and prints out a histogram of bin size 10

```
Input:
[13,42,15,37,22,39,41,50]
```

```
Output:
{11-20:2,21-30:1,31-40:2,41-50:3}
```

In [9]:
# Write code here
import math

def histogram(l):
  lower = math.floor(min(l) / 10) * 10
  upper = math.ceil(max(l) / 10) * 10

  d = {}

  for i in range(lower,upper,10):
    count = 0
    for j in l:
      if i+1 <= j <= i+10:
        count += 1

    d[str(i+1) + '-' + str(i+10)] = count

  return d

l = [13,42,15,37,22,39,41,50]
histogram(l)

{'11-20': 2, '21-30': 1, '31-40': 2, '41-50': 3}

`Problem-9` Write a python function that accepts a list of 2D co-ordinates and a query point, and then finds the the co-ordinate which is closest in terms of distance from the query point.

```
List of Coordinates
[(1,1),(2,2),(3,3),(4,4)]
Query Point
(0,0)
```

```
Output
Nearest to (0,0) is (1,1)
```

In [10]:
# Write code here
def closest_coord(coord,point):
  distances = []

  for i,j in coord:
    euc_dis = ((i - point[0])**2 + (j - point[1])**2)**0.5
    distances.append(int(euc_dis))

  index_pos = distances.index(min(distances))

  return coord[index_pos]

coords = [(1,4),(2,-2),(13,3),(14,4)]
points = (0,0)
closest = closest_coord(coords,points)
print('Nearest to {} is {}'.format(points,closest))

Nearest to (0, 0) is (2, -2)

`Problem-10`:Write a python program that receives a list of strings and performs bag of word operation on those strings

https://en.wikipedia.org/wiki/Bag-of-words_model

In [15]:
# Write code here
def bow(L):

  vocab = set()

  for i in L:
    vocab.update(i.split())

  result = []

  for i in L:
    result.append([])
    for j in vocab:
      result[-1].append(i.count(j))

  print(vocab)
  return result




L = [
    'cat mat rat cat',
     'sat bat fat cat rat',
     'pat cat mat rat'
]

bow(L)

{'mat', 'cat', 'sat', 'fat', 'rat', 'bat', 'pat'}

[[1, 2, 0, 0, 1, 0, 0], [0, 1, 1, 1, 1, 1, 0], [1, 1, 0, 0, 1, 0, 1]]

###`Problem 11:` Write a Python program to add three given lists using Python map and lambda.

In [ ]:
# Write code here
l1 = [1,2,3,4,5]
l2 = [6,7,8,9,10]
l3 = [11,12,13,14,15]

list(map(lambda x,y,z:x+y+z,l1,l2,l3))

###`Problem-12:`Write a Python program to create a list containing the power of said number in bases raised to the corresponding number in the index using Python map.
`Input:`
```
list1 = [1,2,3,4,5,6]
```
`Output:`
```
[1,2,9,64,625,-]
```

In [ ]:
# Write code here
list1 = [1,2,3,4,5,6]

list(map(lambda x: x**list1.index(x),list1))

[1, 2, 9, 64, 625, 7776]

###`Problem-13` Using filter() and list() functions and .lower() method filter all the vowels in a given string.

In [ ]:
# Write code here
st = 'hELlo how Are you I am fiNe tHank you'

list(filter(lambda x:x in 'aeiou',st.lower()))

['e', 'o', 'o', 'a', 'e', 'o', 'u', 'i', 'a', 'i', 'e', 'a', 'o', 'u']

`Problem-14`: Use reduce to convert a 2D list to 1D

In [16]:
# Write code here
ini_list = [[1, 2, 3],
            [3, 6, 7],
            [7, 5, 4]]

import functools
functools.reduce(lambda x,y: x+y,ini_list)

[1, 2, 3, 3, 6, 7, 7, 5, 4]

`Problem 15`- A dictionary contains following information about 5 employees:
- First name
- Last name
- Age
- Grade(Skilled,Semi-skilled,Highly skilled)<br>
Write a program using map/filter/reduce to a list of employees(first name + last name) who are highly skilled

In [ ]:
# Write code here
employees = [
    {
        'fname':'Nitish',
        'lname':'Singh',
        'age' : 33,
        'grade':'skilled'
    },
    {
        'fname':'Ankit',
        'lname':'Verma',
        'age' : 34,
        'grade':'semi-skilled'
    },
    {
        'fname':'Neha',
        'lname':'Singh',
        'age' : 35,
        'grade':'highly-skilled'
    },
    {
        'fname':'Anurag',
        'lname':'Kumar',
        'age' : 30,
        'grade':'skilled'
    },
    {
        'fname':'Abhinav',
        'lname':'Sharma',
        'age' : 37,
        'grade':'highly-skilled'
    }

]

In [ ]:
list(map(lambda high_grad_emp:high_grad_emp['fname'] + ' ' + high_grad_emp['lname'], filter(lambda employee: employee['grade'] == 'highly-skilled',employees)))

['Neha Singh', 'Abhinav Sharma']